<div class="container page-wrap">
    <div class="form">
    <div id="alert-box">{{ message }}</div>
    <form name = "ChangePasswordForm"  class="login-form" ng-submit="hasToken()">
      <input type="text" name="Old Password" placeholder="Password" ng-model="credentials.Oldpassword" ng-if = "showOldPass" required />
      <input type="text" name="New Password" placeholder="New Password" ng-model="credentials.password" required/>
      <input type="text" name="New Password Confirmation" placeholder="Password Confirmation" ng-model="credentials.NewPassword1" ng-pattern="{{credentials.password}}"  required/>
      <button id="btn_UpdateUserData" type="submit" ng-disabled="ChangePasswordForm.$invalid" >Update User Data</button>
    </form>
  </div>
</div>
