<div id="login" class="row">
  <div class="large-6 large-offset-3">
    <div class="alert-box">{{ message }}</div>
   
<div class="row">          
    <form ng-submit="isUserPassword()">
      <fieldset class="radius">

        <div class="row">
            <div class="large-3 columns">
              <input type="text" name="Old Password" placeholder="Password" ng-model="credentials.Oldpassword" ng-readonly="readOnly" />
            </div>
            <div class="large-3 columns">
              <input type="text" name="New Password" placeholder="New Password" ng-model="credentials.password" ng-readonly="readOnly" />
            </div>
            <div class="large-3 columns">
              <input type="text" name="New Password Confirmation" placeholder="Password Confirmation" ng-model="credentials.NewPassword1" ng-readonly="readOnly" />
            </div>
        </div>  
         <div class="row">
          <div class="large-12 columns">
            <button id="btn_UpdateUserData" type="submit" class="button large expand radius" ng-if="!readOnly" ng-click="">Update User Data</button>
          </div>
        </div>     

      </fieldset>     
    </form>
    <div class="large-12 columns">
    </div>
  </div>
</div>
