<div id="examples" class="row">
  <div class="large-6 large-offset-3">
    <div class="alert-box">{{ message }}</div>




     <div class="large-12 columns">
      <button id="btn_documentation" type="submit" class="button large expand radius" ng-click="documentation()">Documentation</button>
      <button id="btn_examples" type="submit" class="button large expand radius" ng-click="examples()">Examples</button>
      <button id="btn_login" type="submit" class="button large expand radius" ng-click="login()">Log-in</button>
      <button id="btn_register" type="submit" class="button large expand radius" ng-click="register()">Register</button>
      
    </div>
  </div>
</div>
