<footer>
    <div class="container authors">
        <div class="floatLeft footerAuthors">
	        <span class="block">Ricardo Anacleto</span>
	        <span class="block">ricardosa.mail@gmail.com</span>
        </div>
        <div class="floatLeft footerAuthors">
	        <span class="block">Pedro Ferreira</span>
	        <span class="block">pnlferreira@gmail.com</span>
        </div>
        <div class="floatLeft footerAuthors">
	        <span class="block">André Farinha</span>
	        <span class="block">andre806@gmail.com</span>
        </div>
        <div class="floatLeft footerAuthors">
	        <span class="block">João Henriques</span>
	        <span class="block">aluno20040@ipt.pt</span>
        </div>
        <div class="floatLeft footerAuthors">
	        <span class="block">Carlos Gil</span>
	        <span class="block">carlospintogil@gmx.us</span>
        </div>
        <div class="floatLeft footerAuthors">
	        <span class="block">Ricardo Lourenço</span>
	        <span class="block">r.l@live.com.pt</span>
        </div>
        <span class="clearBoth">
    </div>
</footer>
