<div id="Home" class="row" ng-init="getCredentials()">
  <div class="large-6 large-offset-3">
    <div class="alert-box">{{ message }}</div>
     <div class="row">          
    <form ng-submit="logout()">
      <fieldset class="radius">
        <div class="row">
          <div class="large-3 columns">
            <input type="text" name="username" placeholder="username" ng-model="credentials.username"  />
          </div>
            <div class="large-3 columns">
              <input type="text" name="password" placeholder="password" ng-model="credentials.password" />
          </div>
            <div class="large-3 columns">
              <input type="text" name="token" placeholder="password" ng-model="credentials.token" />
          </div>
        </div>  
         <div class="row">
          <div class="large-12 columns">
            <button id="log-out" type="submit" class="button large expand radius" ng-click="logout()">Log out</button>
          </div>
        </div>      
      </fieldset>
    </form>
    <div class="large-12 columns">
      <button id="log-in" type="submit" class="button large expand radius" ng-click="redirect()">Manage</button>
    </div>
  </div>
</div>
