<div id="home" class="container">


  <div class="mbr-section mbr-section-hero mbr-section-full mbr-parallax-background mbr-after-navbar">

      <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);"></div>

      <div class="mbr-table-cell">

          <div class="container">
              <div class="row">
                  <div class="mbr-section col-md-10 col-md-offset-1 text-xs-center">

                      <h1 class="mbr-section-title display-1">MEI - IOT</h1>
                      <p class="mbr-section-lead lead">Home page for &nbsp; software engeneering course of the Masters Degree in Inthernet of Things.</p>
                      
                  </div>
              </div>
          </div>
      </div>

  </div>
</div>
