<div class="container" ng-init="isAuth()">
  <div id="alert-box">{{ message }}</div>
      <div class="form">
        <form class="login-form" ng-submit="login()">
          <input type="text" name="username" placeholder="username" ng-model="credentials.username" required/>
          <input type="password" name="password" placeholder="password" ng-model="credentials.password" required/>
          <button id="log-in" type="submit" >Log In</button>
           <p class="message">Not registered? <a href="http://localhost:8000/#/register">Create an account</a></p>
           <p class="message">Forgot your password? <a href="http://localhost:8000/#/passRecovery">Reset your password</a></p>
        </form>
      </div>
  <h1>{{token}}</h1>
</div>






    


            
