<div class="container">
  <div id="alert-box">{{ message }}</div>
      <div class="form">
        <form class="login-form" ng-submit="register()">
          <input type="text" name="username" placeholder="username" ng-model="credentialsRegister.user.name"  required/>
          <input type="text" name="email" placeholder="surname" ng-model="credentialsRegister.user.surname" required/>
          <input type="text" name="password" placeholder="password" ng-model="credentialsRegister.user.password" required/>
          <input type="text" name="password" placeholder="password" ng-model="credentialsRegister.user.password1"  ng-pattern="{{credentialsRegister.user.password}}" required/>
          <input type="text" name="email" placeholder="email" ng-model="credentialsRegister.user.email" required/>
          <button id="submit" type="submit" ng-disabled="registerForm.$invalid">Submit</button>
           <p class="message">Already registered? <a href="http://localhost:8000/#/login">Sign In</a></p>
        </form>
    </div>
  <h1>{{token}}</h1>
</div>