<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bem vindo à OPEN DATA API do IPT, <%= @user.name %></h1>
    <p>
      O seu registo foi efectuado com sucesso,
      pode fazer login com o seu email: <%= @user.email %>.<br>
    </p>
    <p>
      no seguinte link: <%= @url %>.
    </p>
    <p>Seja bem vindo e alguma duvida estamos ao seu dispor.</p>
  </body>
</html>