<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Foi pedido um reset a password do utilizador: <%= @user.name %></h1>
    <p>
      Caso tenha sido o mesmo a pedir o reset por favor clickar no seguinte link: <br>
      <%= @url %>
    </p>
    <p>
      Caso contrário, ignore este e-mail pff.
    </p>
    <p>Obrigado e alguma duvida estamos ao seu dispor.</p>
  </body>
</html>